---
http_interactions:
- request:
    method: post
    uri: https://api.batch.com/1.0/<BATCH_API_KEY>/transactional/send
    body:
      encoding: UTF-8
      string: '{"group_id":"All","recipients":{"tokens":["test_token_123"]},"message":{"title":"Test
        title","body":"Test message"}}'
    headers:
      Content-Type:
      - application/json
      X-Authorization:
      - "<BATCH_REST_API_KEY>"
  response:
    status:
      code: 201
      message: Ok
    headers:
      Content-Type:
      - application/json
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"token":"8a278ff0-beb2-404b-a4fd-1283eac5f764"}'
  recorded_at: Mon, 02 May 2016 13:54:49 GMT
recorded_with: VCR 3.0.1
