---
http_interactions:
- request:
    method: get
    uri: https://graph.facebook.com/me?access_token=non-existant-token&appsecret_proof=5e5d417feb25ea91af8c7ee07a1fce3f2fecf3f6711f1f33009aa5ee379fac31&fields=email,first_name,last_name
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Www-Authenticate:
      - OAuth "Facebook Platform" "invalid_token" "Invalid OAuth access token."
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"error":{"message":"Invalid OAuth access token.","type":"OAuthException","code":190,"fbtrace_id":"B\/ZLTusPoZg"}}'
  recorded_at: Mon, 11 Apr 2016 12:46:42 GMT
recorded_with: VCR 3.0.1
