// Place all the styles related to the mailchimp controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);

$blue: #075DA4;

@mixin background-image-retina($file, $type, $width, $height, $positionX: left, $positionY: top, $background-repeat: no-repeat) {
  background-image: image-url($file + '.' + $type);
  background-size: $width $height;
  width: $width; height: $height;
  background-position: $positionX $positionY;
  background-repeat: $background-repeat;

  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 144dpi) {
    & {
      background-image: image-url($file + '@2x.' + $type);
    }
  }
}

body {
	font-family: 'Open Sans', sans-serif;
}

.container{
	position: absolute;
	top: 50%;
	margin-top: -200px;/* half of #content height*/
	left: 0;
	width: 100%;

	.subscribe {
		text-align: center;
		height: 395px;
	}
}


.logo {
	@include background-image-retina('movement-logo', 'png', 400px, 53px);
	text-indent: -99999px;
	margin: 0 auto;
}

input[type="email"] {
	padding: 8px 10px;
	font-size: 18px;
}

button, input[type="submit"] {
	background: $blue;
	border: none;
	border-radius: 5px;
	color: white;
	padding: 10px 14px;
	text-transform: uppercase;
	font-size: 18px;
	font-weight: bold;
	cursor: pointer;
}

p {
	font-size: 24px;
}

.form {
	margin-top: 40px;
}

#response {
	margin-top: 20px;
}