<!DOCTYPE html>
<html>
<head>
  <title>Movement</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <meta name="description" content="We’re helping campaigns scale by the size of their ideas, not the size of their budgets.">
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
